{% extends 'BazookasBundle:Layout:layout.html.twig' %}

{% block content %}

<h1>{{ title }}</h1>   
{% if ('media' in title) %}
	{% set link = '/meli/media/list' %}
{% else %}
	{% set link = '/meli/collectionitem/list' %}
{% endif %}
<a href="{{ link }}">Terug naar lijst</a>
<hr>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" value="Submit">Opslaan</button>
{{ form_end(form) }}

{% endblock %}