<table>
	<tr>
		<th>Afbeelding URL</th>
		<th>Jaar van</th>
		<th>Jaar tot</th>
		<th>Type</th>
		<th>Acties</th>
	</tr>

	{% for item in items %}
		{% if item.columnID == columnIndex %}
		   <tr>
		   		<td>{{ item.imageURL }}</td>
		   		<td>{{ item.yearFrom }}</td>
		   		<td>{{ item.yearTill }}</td>
		   		<td>{{ item.type }}</td>
		   		<td><a class="btn btn-warning" href={{ path('EditMap', {'id': item.id}) }}><i class="fa fa-edit fa-lg"></i></a> 
		   			 <a class="btn btn-danger" href={{ path('DeleteItem', {'id': item.id}) }}
		   				 onclick="return confirm('Wil je dit item zeker verwijderen?');"><i class="fa fa-remove fa-lg"></i></a></td>
		   </tr>
	   	{% endif %}
	{% endfor %}
</table>