{% extends 'BazookasBundle:Layout:layout.html.twig' %}

{% block content %}
<table>
	<tr>
		<th>Titel Nederlands</th>
		<th>Titel Frans</th>
		<th>Type</th>
		<th>URL Nederlands</th>
		<th>URL Frans</th>
		<th>Acties</th>
	</tr>

	{% for item in items %}
	   <tr>
	   		<td>{{ item.titleNL }}</td>
	   		<td>{{ item.titleFR }}</td>
	   		<td>{{ item.type }}</td>
	   		<td>{{ item.contentURLNL }}</td>
	   		<td>{{ item.contentURLFR }}</td>
	   		<td><a href="/meli/media/edit/{{ item.id }}">aanpassen</a> 
	   			| <a href="/meli/media/delete/{{ item.id }}"
	   				 onclick="return confirm('Wil je dit item zeker verwijderen?');">verwijderen</a></td>
	   </tr>
	{% endfor %}
</table>
<br><br><br>

{% if (collectionCount > 0) %}
	<a href="/meli/media/add">Voeg media toe</a>
{% else %}
	<p>Er kunnen geen media items worden toegevoegd zonder collectie items van het type 'media'.</p>
{% endif %}
{% endblock %}