<table>
	<tr>
		<th>Jaar van</th>
		<th>Jaar tot</th>
		<th>Type</th>
		<th>Acties</th>
	</tr>

	{% for item in items %}
		{% if item.columnID == columnIndex %}
		   <tr>
		   		<td>{{ item.yearFrom }}</td>
		   		<td>{{ item.yearTill }}</td>
		   		<td>{{ item.type }}</td>
		   		<td><a href="/meli/timejump/edit/{{ item.id }}">aanpassen</a> 
		   			| <a href="/meli/item/delete/{{ item.id }}" 
		   				 onclick="return confirm('Wil je dit item zeker verwijderen?');">verwijderen</a></td>
		   </tr>
	   	{% endif %}
	{% endfor %}
</table>