{% block map_widget %}
    {{ block('choice_widget') }}
    <br>
    <p>Kies een locatie op de map door te klikken op de afbeelding:</p>
    <canvas id="mapCanvas" width="500" height="500"></canvas>

    <input type="number" value="{{ form.vars.posX }}" step="any" id="posX" name="posX" class="hidden" />
    <input type="number" value="{{ form.vars.posY }}" step="any" id="posY" name="posY" class="hidden" />

    <input type="number" value="{{ form.vars.yearFrom }}" id="item_yearfrom" class="hidden" />
{% endblock %}

{% block file_upload_widget %}
	{% spaceless %}
		{{ block('form_widget') }}
    	<img id="image_preview" name="image_preview" />
        <a id="remove_file" name="remove_file" class="hidden">Wissen</a>
        <p id="error" name="error"></p>
	{% endspaceless %}
{% endblock %}